
<section class="module parallax parallax-3" id="home" style="height:700px;">
	<div class="title">
		<h1 style="text-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 1px, rgba(0, 0, 0, 0.74902) 0px 1px 30px;"><span>Quality.Variety.Unique</span><br><%=image_tag("logo1.png")%></h1>
	</div>
	<% if flash[:notice] %>
	<div class="alert alert-success" style="height:60px; width:300px; margin:auto;">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<%=flash[:notice]%>
	</div>
	<%end%>
</section>
<div class= "container" id="mission">
	<h1>Our Commitment</h1>
	<p>Consistently provide our guest with the exceptional dining experience that they deserve.</p>	
</div>
<section class="module parallax parallax-1" id="slide">
	<div class="container" id="best_seller">
		<h2>Testimony</h2>
		<table class="w3-table" id="src">
			<tr>
				<td><%=image_tag("src.png", size:"400x400",class:"src_img", style:" box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.7);")%>
				</td>
				<td><a href="http://eatdrinkkl.blogspot.my/2015/01/bedrock-usj-taipan-subang-jaya.html" target="_blank"><div class="comments">
					<%=image_tag("eatdrink.jpg", style:"border-radius:10px; width:50px;height:50px; float:left;")%> 
					<%=image_tag("eatdrinklogo.jpg", style:"width:150px; height:50px;")%>
					<h1>Sean</h1>
					<p>"Bedrock's signature recommendation is deservedly its salted chicken, brined & roasted, beautifully tender & boldly tasty. This generous serving is sufficient even for hearty eaters."</p>
				</div>
			</a></td>
		</tr>
		<tr>
			<td><a href="http://theyumlist.net/2015/12/bedrock-restaurant-cafe-subang-jaya.html" target="_blank"><div class="comments" style="float:left;">
				<%=image_tag("yumlist.png", style:"width:50px;height:50px; float:left;")%> 
				<%=image_tag("yumlistlogo.jpg", style:"width:150px; height:50px;")%>
				<h1>Monica</h1>
				<p>"Adding their own spin, Bedrock combines pulled chicken with capsicum and cherry tomatoes to create a rich stew from which to mount baked eggs. The runny yolks melted into the broth for a filling and soulful meal that took the chill off the rain."</p>
			</div>
		</a></td>
		<td> <%=image_tag("bakedegg.jpg", size:"400x400",class:"src_img", style:" box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.7);float:right;")%>
		</td>
	</tr>
	<tr>
		<td><%=image_tag("prima1.png", size:"400x400",class:"src_img", style:" box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.7);")%>
		</td>
		<td><a href="http://www.taufulou.com/bedrock-cafe-usj-2/" target="_blank"><div class="comments">
			<%=image_tag("bok.jpg", style:"border-radius:10px; width:50px;height:50px; float:left;")%> 
			<%=image_tag("boklogo.png", style:"width:150px; height:50px;")%>
			<h1>Bok</h1>
			<p>"Primavera served in linguine pasta is one of the best to have. Love their sauce, cheese and pasta cook to just right to my liking and portion is decent. – recommended."</p>
		</div></div>
	</td>
</tr>
</table>
</div>
</section>

<script type="text/javascript">
	
	$(document).ready(function(){
		$("#1").click(function(){
			$("#breakfast").fadeIn(1000);
			$("#pasta").hide();
			$("#dessert").hide();
			$("#rice").hide();
			$("#drinks").hide();
			$("#snacks").hide();

		});
		$("#2").click(function(){
			$("#snacks").fadeIn(1000);
			$("#pasta").hide();
			$("#dessert").hide();
			$("#rice").hide();
			$("#drinks").hide();
			$("#breakfast").hide();

		});
		$("#3").click(function(){
			$("#pasta").fadeIn(1000);
			$("#snacks").hide();
			$("#dessert").hide();
			$("#rice").hide();
			$("#drinks").hide();
			$("#breakfast").hide();

		});
		$("#4").click(function(){
			$("#rice").fadeIn(1000);
			$("#snacks").hide();
			$("#dessert").hide();
			$("#pasta").hide();
			$("#drinks").hide();
			$("#breakfast").hide();

		});
		$("#5").click(function(){
			$("#drinks").fadeIn(1000);
			$("#snacks").hide();
			$("#dessert").hide();
			$("#rice").hide();
			$("#pasta").hide();
			$("#breakfast").hide();

		});
		$("#6").click(function(){
			$("#dessert").fadeIn(1000);
			$("#snacks").hide();
			$("#drinks").hide();
			$("#rice").hide();
			$("#pasta").hide();
			$("#breakfast").hide();

		});
	});
</script>

