<section class="module parallax parallax-3" id="home" style="height:700px;">
	<div class="title">
		<h1 style="text-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 1px, rgba(0, 0, 0, 0.74902) 0px 1px 30px;"><span>Quality.Variety.Unique</span><br><%=image_tag("logo1.png")%></h1>
	</div>
</section>
<div class= "container" id="mission">
	<h1>Our Commitment</h1>
	<p>Consistently provide our guest with the exceptional dining experience that they deserve.</p>	
</div>
<section class="module parallax parallax-1" id="slide">
	<div class="container" id="best_seller">
		<h2>Testimony</h2>
		<table class="w3-table" id="src">
			<tr>
				<td><%=image_tag("src.png", size:"400x400",class:"src_img", style:" box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.7);")%>
				</td>
				<td><div class="comments">
					<%=image_tag("eatdrink.jpg", style:"border-radius:10px; width:50px;height:50px; float:left;")%> 
					<%=image_tag("eatdrinklogo.jpg", style:"width:150px; height:50px;")%>
					<h1>Sean EatDrinkKL</h1>
					<p>"Bedrock's signature recommendation is deservedly its salted chicken, brined & roasted, beautifully tender & boldly tasty. This generous serving is sufficient even for hearty eaters."</p>
				</div>
			</td>
		</tr>
		<tr>
			<td><div class="comments" style="float:left;">
				<%=image_tag("yumlist.png", style:"width:50px;height:50px; float:left;")%> 
				<%=image_tag("yumlistlogo.jpg", style:"width:150px; height:50px;")%>
				<h1>Monica TheYumList</h1>
				<p>"Adding their own spin, Bedrock combines pulled chicken with capsicum and cherry tomatoes to create a rich stew from which to mount baked eggs. The runny yolks melted into the broth for a filling and soulful meal that took the chill off the rain."</p>
			</div>
		</td>
		<td> <%=image_tag("bakedegg.jpg", size:"400x400",class:"src_img", style:" box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.7);float:right;")%>
		</td>
	</tr>
	<tr>
		<td><%=image_tag("prima1.png", size:"400x400",class:"src_img", style:" box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.7);")%>
		</td>
		<td><div class="comments">
			<%=image_tag("bok.jpg", style:"border-radius:10px; width:50px;height:50px; float:left;")%> 
			<%=image_tag("boklogo.png", style:"width:150px; height:50px;")%>
			<h1>Bok Taufulou</h1>
			<p>"Primavera served in linguine pasta is one of the best to have. Love their sauce, cheese and pasta cook to just right to my liking and portion is decent. – recommended."</p>
		</div>
	</td>
</tr>
</table>
</div>
</section>

